<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Lista de utilizadores</h2>
  <ion-content >
    <ion-list inset>
      <ion-item *ngFor="let user of users">
          <ion-grid (click)="presentToast(user);">
              <ion-row>
                <ion-col><img style="width: 80px; height: 80px; border-radius: 50%; display:inline;" alt="avatar" src="{{ user.avatar }}"></ion-col>
                <ion-col><p>{{user.id}}</p><h2>{{user.first_name}}</h2></ion-col>
              </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-content>
  <p>{{num}} / 2</p>

  <button ion-button id="button-1"  (click)="getUsers(1)">first page</button>
  <button ion-button id="button-2"  (click)="getUsers(2)">second page</button>
        
</ion-content>
